body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h4{
    text-align: center;
}
.pink-highlight{
    color: deeppink;
}
p{
    color: dimgray;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.header{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: inherit;
    
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(pink,deeppink);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: initial;
   
  
}
.container{
    text-align: center;
    display: inline-block;
    margin: 50px auto;
    margin-left: 60px;
    margin-right: -4px auto;
    padding: 50px;
    ;
}
.latest-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    
}
#client{
    text-align: center;
    color: black;
}
#client-info{
    text-align: center;
}
.client-comment{
    text-align: center;
}
.email-message{
    text-align: center;
    color: white;
   background-color: deeppink;
   padding: 30px;
   margin-left: 500px;
   margin-right: 500px;
   box-shadow: 10px 10px 40px; 
   border-radius: 10px;  
}
.footer{
    background-image: url("images/footer-bg.png");
     background-repeat: no-repeat;
     background-position: left; 
     background-size: auto; 
}
#copyright-sign{
    text-align: center;
    font-size: 12px;
}

